.admin-editor__form select {
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    font-style: normal;
}

.admin-editor__input {
    background: #A67A44;
    color: #26190D;
    border: 2px solid #594022;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 0 10px;

    margin-left: 10px;
    margin-bottom: 5px;

    transition: 200ms;
}

.admin-editor__input::placeholder {
    color: rgba(89, 64, 34, 0.75);
}

.admin-editor__input:hover {
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.5), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
